div.container
  nav(class="navbar navbar-defaul")
    div.container-fluid
      div.navbar-header
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav")
          li(class="active")
            a(href="index.html") Home
          li
            a(href="projects.html") Projects
          li
            a(href="about.html") About Chase
          li
            a(href="contact.html") Contact
