div.page-header
  h1 Contact Chase Nelson
div.body
  ul
    li
      a(href="https://www.github.com/ChaseNelson" target="_blank")
        h4 GitHub
    li
      a(href="https://www.linkedin/in/chase-nelson" target="_blank")
        h4 LinkedIn
    li
      a(href="mailto:chase.a.nelson@gmail.com" target="_blank")
        h4 E-Mail
