div.page-header
  h1 Welcome to Chase Nelson's Website
div
  ul
    li
      a(href="projects.html")
        h2 Projects
    li
      a(href="about.html")
        h2 About Me
    li
      a(href="contact.html")
        h2 Contact
h3 Have a good day.
