div.page-header
  h1 Welcome to Chase Nelson's Website
div.body
  h4 Chase Nelson is a Sophomore studing Computer Science at Purdue University. He is expected to graduate May 2020. Some of Chase's hobbies are climbing, lifting, volleyball. Chase is a brother of Phi Sigma Kappa.
