div.page-header
  h1 Chase's Projects
div
  ul
    li
      a(href="https://www.github.com/ChaseNelson/Felix")
        h4 Felix
    li
      a(href="https://www.github.com/puhep/pudb2")
        h4 CMS FPix R&D Database
    li
      a(href="https://www.github.com/puhep/pudb2Prod")
        h4 CMS FPix Production Database
