div.page-header
  h1 Chase's Projects
div.body
  ul
    li
      a(href="https://www.github.com/ChaseNelson/Felix" target="_blank")
        h4 Felix
      p - This is an expert system for fixing machines. Users can modify the graph stucture for all machines and add new machines.
    li
      a(href="https://www.github.com/puhep/pudb2" target="_blank")
        h4 CMS FPix R&D Database
      p - The CMS FPix Database and website for the current R&D Phase.
    li
      a(href="https://www.github.com/puhep/pudb2Prod" target="_blank")
        h4 CMS FPix Production Database
      p - The soon to be used database and website for CMS FPix Group.
